@import "file:///E:/lab1/zhize-web-Code/my-docs/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_5f98ee969002387c1f5b6b91f9256603/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///E:/lab1/zhize-web-Code/my-docs/src/.vuepress/styles/palette.scss";
@import "file:///E:/lab1/zhize-web-Code/my-docs/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_5f98ee969002387c1f5b6b91f9256603/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
